<div class="container center-block" id="forms">
	<%= bootstrap_form_for @eror do |f|  %>
	<% if @eror.errors.any? %>
	<h3><%= pluralize(@eror.errors.count, "error") %>convention could not be saved!</h3>
	<ul><% @eror.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
		<%= f.text_field :name, label: "Controller" %>
		<%= f.text_field :cause, label: "Views" %>
		<%= f.text_field :fix, label: "URI" %>
		<%= f.text_area :description, label: "Description" %>
		<div class="text-center">
			<%= f.submit "Submit", class: "btn btn-success" %>
		</div>
	<% end %>
</div>	