<div class="container"><h2 class="text-center">Errors are not in the art but in the artificers. - Sir Issac Newton</h2></div>

<div class="container show-page">
	<table class="table table-hover table-bordered">
	<thead><tr>
		<th>#</th>
		<th>Name</th>
		<th>Description</th>
		<th>Cause</th>
		<th>Fix</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tbody class="table-hover">
	<% index = 0 %>
		<tr>
			<td><%= index ++ 1 %></td>
			<td><%= @eror.name.downcase %></td>
			<td><%= @eror.description %></td>
			<td><%= @eror.cause %></td>
			<td><%= @eror.fix %></td>
			<td><%= link_to "Edit", edit_eror_path(@eror), class: "btn btn-info" %></td>
			<td><%= link_to "Delete", eror_path(@eror), method: :delete, data: {confirm: "Sire! Are you sure you want to do this?"}, class: "btn btn-info" %></td>
		</tr>
	</tbody>
	</table>
</div>
