<div class="container center-block" id="forms">
	<%= bootstrap_form_for @mhd do |f|  %>
	<% if @mhd.errors.any? %>
	<h3><%= pluralize(@mhd.errors.count, "error") %>convention could not be saved!</h3>
	<ul><% @mhd.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
		<%= f.text_field :name, label: "Name" %>
		<%= f.text_field :mtype, label: "Type" %>
		<%= f.text_field :value, label: "Value" %>
		<%= f.text_area :description, label: "Description" %>
		<div class="text-center">
			<%= f.submit "Submit", class: "btn btn-success" %>
		</div>
	<% end %>
</div>	